<div class="remove-container container-block">
<h2 class="container-block-title">Talks</h2>
<ul class="list-unstyled interests-list">
<a target="_blank" href="https://speakerdeck.com/agajek/18"><li>OOP vs FP: The Pursuit of Extensibility</li></a>
</ul>
</div>

<div class="remove-container container-block">
<h2 class="container-block-title">Articles</h2>
<ul class="list-unstyled interests-list">
<a target="_blank" href="https://medium.com/virtuslab/typeclasses-scala-be35c0ef0ee9"><li>5 steps of creating your very first Type Class in Scala
</li></a>
</ul>
</div>